<%= form_for(@number, data: {abide: true}) do |f| %>
  <% if @number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@number.errors.count, "error") %> prohibited this number from being saved:</h2>
      <ul>
      <% @number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :sequence_id do %>Prefix
    <%= f.select :sequence_id, options_for_select(@sequence_options.map{|s| ["#{s.prefix} (#{s.descriptor})", s.id] }, selected=@number.sequence_id), required: true %>
  <% end %>
  <%= f.label :descriptor do  %>Description
    <%= f.text_field :descriptor, required: true %>
  <% end %>

  <%= f.submit  nil, {:class=>"button"} %>

<% end %>
