<% if @sequence_options %>
  <h2>Summary Table</h2>
  <table>
    <thead>
    <th>Prefix</th>
    <th>Sequence Desc.</th>
    <th>Numbers Assigned</th>
    </thead>
    <tbody>
      <% @sequence_options.each do |seq| %>
	<tr> 
	  <td><%= seq.prefix %></td>
	  <td><%= seq.descriptor %></td>
	  <td><%= link_to seq.numbers.count, sequence_numbers_path(seq) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @sequence %>
  <%= link_to "All numbers", numbers_path%> &#187; <%= @sequence.prefix %>
<% end %>

<% if @numbers.empty?  %>
  <p>No numbers created yet.</p>
<% else %>
  <% if @sequence %>
    <h2><%= @sequence.descriptor%> Numbers</h2>
  <% else %>
    <h2>All Numbers</h2>
  <% end %>
  <%= paginate @numbers %>
  <ul>
    <% @numbers.each do |n|  %>
      <li><%= link_to n.to_s, number_path(n) %> <%= n.descriptor %> (<%= n.updated_at.strftime('%m/%d/%Y') %>)</li>
    <% end  %>
  </ul>
<% end  %>
