<!DOCTYPE html>
<html>
<head>
  <title>NumberMan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <p><%= current_user.email %> [<%= current_tenant.name %>] | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </p>

    <ul>
      <li><%= link_to 'New number', new_number_path %></li>
      <li><%= link_to 'Browse numbers', numbers_path %></li>
    </ul>
  <% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
